{% extends 'base.html' %}

{% block title %}Meus dados - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Meus dados</h3>
            <br>

            <form action="" method="post">

                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" class="btn btn-success" value="Salvar">
            </form>
        </div>
    </section>

{% endblock %}