{% extends 'base.html' %}

{% block title %}Meus produtos - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Meus anúncios</h3>
            <br>
            <p><a href="{% url 'product_new' %}">Novo anúncio</a></p>

            <table class="table table_bordered">
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>

                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.status }}</td>
                        <td>
                            <a href="{% url 'product_edit' product.id %}">Editar</a> |
                            <a href="{% url 'product_show' product.slug %}">Exibir</a> |
                            <a href="{% url 'product_question' product.id %}">Perguntas
                                {% if product.questions_no_answer.count >= 1 %}
                                    ({{ product.questions_no_answer.count }})
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}