{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Market Place{% endblock %}</title>

    <!--css's-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/css/star-rating.min.css' %}">
</head>
<body>

<nav class="navbar navbar-default navbar-market-place">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-market-place" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-market-place" href="" title="Mercadp Livre" target="_blank"
               rel="nofollow">
                <img alt="Brand" src="{% static 'img/logo-pt__large.png' %}">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-market-place" id="bs-example-navbar-market-place">

            <form action="{% url 'search' %}" class="navbar-form navbar-left navbar-form-market-place">
                <div class="form-group">
                    <div class="input-group-icon">
                        <div class="input-group">
                            <input type="text" class="form-control" name="qs" id="search" placeholder="" value="{{ qs }}">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right navbar-right-market-place">

                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span>{{ request.user }}</span> <i class="fa fa-user-o"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'my_data' %}">Meus dados</a></li>
                            <li><a href="{% url 'billing_my_orders' %}">Minhas compras</a></li>
                            <li><a href="{% url 'billing_sales' %}">Minhas vendas</a></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Fazer Login</a></li>
                {% endif %}
                <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> </a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#" class="option-sell">Vender</a></li>

                <!--deslogado-->
                <!--<li><a href="#">Cadastre-se</a></li>-->
                <!--<li><a href="#" class="option-sell">Entre</a></li>-->


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="page-market-place">

            {% block content %}{% endblock %}


    <!--FOOTER-->
    <footer class="footer-market-place">
        <div class="container">
            <div class="col-md-12">
                <p>
                    Copyright © todos os direitos reservados
                </p>
            </div>
        </div>
    </footer>
</div>

<!--js's-->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/star-rating.min.js' %}"></script>
<script src="{% static 'js/vendor/star-rating_locale_pt-br.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>